{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY WEBSITE</title>
    <link rel="icon" href="{% static 'images/sheriyan.webp' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/courses.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="https://img.icons8.com/emoji/48/nerd-face.png" alt="Logo">
            Sheryians Coding School
        </div>

        <ul class="nav-links">
            <li><a class="nav-link" href="{% url 'webpage:home' %}" >Home</a></li>
            <li><a class="nav-link active" href="{% url 'webpage:courses' %}" active>Courses</a></li>
            <li><a class="nav-link" href="{% url 'webpage:bootcamp' %}">Bootcamp(Kodr)</a></li>
            <li><a class="nav-link" href="{% url 'webpage:callback' %}">Request Callback</a></li>
        </ul>
    </nav>
    <br><br>
    <h1 style="color: white;margin-left: 50px;width: 0px;"><b>Courses Offered </b></h1><br><br><br><br>
    <a href="{% url 'webpage:frontendDomination' %}"><div class="boxes" id="box1" style="width: 300px;height: 300px;background-color: rgb(72, 75, 75);float: left;margin-left: 10px;"><img style="width: 300px;height: 150px;"  src="https://ik.imagekit.io/sheryians/courses_gif/Front-End_Domination__Create_Anything_with_Code-FRONTENDTHUBNAIL_Wf8WqcNJx.jpg" alt=""><p style="color: white;">FRONT-END DOMINATION:Create Anything With Code</p><h4 style="background-color: gray;color: white;width: fit-content;">Hindi</h4><br><br><span style="color: rgb(36,207,166);;width: fit-content;">Limited Time Discount</span><p style="color: red;">₹ 4999       <strike>₹9999</strike><p style="background-color: white;color: black;width: fit-content;">50% OFF</p></p><BUtton class="boxe_button" style="margin-top: 5px;margin-left: 1px;width: 300px;height: 40px;background-color:rgb(36,207,166);">View Dertails</BUtton></div></a>
    <a href="{% url 'webpage:backendDomination' %}"><div class="boxes" id="box2" style="width: 300px;height: 300px;background-color: rgb(81, 84, 84);float: left;margin-left: 10px;"><img style="width: 300px;height: 150px;" src="https://ik.imagekit.io/sheryians/courses_gif/undefined-backend_0.5x_Medium_wgHDU-5rPt.png" alt=""><p style="color: white;">Back-End Domination:Create Efficient Back-End</p><h4 style="background-color: gray;color: white;width: fit-content;">Hindi</h4><br><br><span style="color: rgb(36,207,166);;width: fit-content;">Limited Time Discount</span><p style="color: red;">₹ 5999       <strike>₹11999</strike><p style="background-color: white;color: black;width: fit-content;">50% OFF</p></p><BUtton class="boxe_button" style="margin-top: 5px;margin-left: 1px;width: 300px;height: 40px;background-color:rgb(36,207,166);">View Dertails</BUtton></div></a>
    <a href="{% url 'webpage:aptitude' %}"><div class="boxes" id="box3" style="width: 300px;height: 300px;background-color: rgb(61, 62, 62);float: left;margin-left: 10px;"><img style="width: 300px;height: 150px;" src="https://ik.imagekit.io/sheryians/courses_gif/undefined-apti_reasoning_45vyAnZ4y.jpeg" alt=""><p style="color: white;">Aptitude & Reasoning for Campus Placements</p><h4 style="background-color: gray;color: white;width: fit-content;">HINGLISH</h4><br><br><span style="color: rgb(36,207,166);;width: fit-content;">Black Friday Sale</span><p style="color: red;">₹ 999       <strike>₹1599</strike><p style="background-color: white;color: black;width: fit-content;">33% OFF</p></p><BUtton class="boxe_button" style="margin-top: 5px;margin-left: 1px;width: 300px;height: 40px;background-color:rgb(36,207,166);">View Dertails</BUtton></div></a>
    <a href="{% url 'webpage:DSA' %}"><div class="boxes" id="box4" style="width: 300px;height: 300px;background-color: rgb(48, 49, 49);float: left;margin-left: 10px;"><img style="width: 300px;height: 150px;" src="https://ik.imagekit.io/sheryians/courses_gif/undefined-javaas_Large_jY0Wighav__6PygWBZQ.jpeg" alt=""><p style="color: white;">Java & DSA Domination</p><h4 style="background-color: gray;color: white;width: fit-content;">HINGLISH</h4><br><br><br><span style="color: rgb(36,207,166);;width: fit-content;">Limited Time Discount</span><p style="color: red;">₹ 4999       <strike>₹9999</strike><p style="background-color: white;color: black;width: fit-content;">50% OFF</p></p><BUtton class="boxe_button" style="margin-top: 5px;margin-left: 1px;width: 300px;height: 40px;background-color:rgb(36,207,166);">View Dertails</BUtton></div></a>
    <div style="width: 1200px;height: 400px;"></div><br><br><br><br><br><br><br><img src="" alt="">
    <footer style="background-color: black; color: white; padding: 20px 10%; font-family: Arial, sans-serif;">
        <div style="display: flex; justify-content: space-between; align-items: flex-start;">
            <div>
                <img src="{% static 'images/sheriyan.webp' %}" alt="Logo" style="width: 80px; height: auto;">
                <p>Let's connect with our socials</p>
                <div>
                    <a href="#" style="margin-right: 10px;"><img src="{% static 'images/insta.png' %}" alt="Instagram" style="width: 24px;"></a>
                    <a href="#" style="margin-right: 10px;"><img src="{% static 'images/linkedln.png' %}" alt="LinkedIn" style="width: 24px;"></a>
                    <a href="#" style="margin-right: 10px;"><img src="{% static 'images/discord.png' %}" alt="Discord" style="width: 24px;"></a>
                    <a href="#" style="margin-right: 10px;"><img src="{% static 'images/youtube.png' %}" alt="YouTube" style="width: 24px;"></a>
                    <a href="#"><img src="{% static 'images/twitter.png' %}" alt="Twitter" style="width: 24px;"></a>
                </div>
            </div>
    
            <div>
                <h4 style="font-weight: bold;">COMPANY</h4>
                <ul style="list-style: none; padding: 0;">
                    <li><a href="#" style="color: white; text-decoration: none;">About Us</a></li>
                    <li><a href="#" style="color: white; text-decoration: none;">Support</a></li>
                    <li><a href="#" style="color: white; text-decoration: none;">Privacy Policy</a></li>
                    <li><a href="#" style="color: white; text-decoration: none;">Terms and Condition</a></li>
                    <li><a href="#" style="color: white; text-decoration: none;">Pricing and Refund</a></li>
                    <li><a href="#" style="color: white; text-decoration: none;">Hire From Us</a></li>
                    <li><a href="#" style="color: white; text-decoration: none;">Bug Bounty</a></li>
                </ul>
            </div>
    
            <div>
                <h4 style="font-weight: bold;">COMMUNITY</h4>
                <ul style="list-style: none; padding: 0;">
                    <li><a href="#" style="color: white; text-decoration: none;">Inertia</a></li>
                    <li><a href="#" style="color: white; text-decoration: none;">Discord</a></li>
                </ul>
            </div>
    
            <div>
                <h4 style="font-weight: bold;">Get In Touch</h4>
                <p style="margin: 0;">+91 8109161752</p>
                <p style="margin: 0;">+91 9691778470</p>
                <p style="margin: 0;"><a href="mailto:hello@sheryians.com" style="color: white; text-decoration: none;">hello@sheryians.com</a></p>
                <p style="margin: 0;">23-B, Indrapuri Sector C,<br>Bhopal(MP), 462021</p>
            </div>
        </div>
        <div style="text-align: center; margin-top: 20px; border-top: 1px solid gray; padding-top: 10px;">
            <p style="margin: 0; font-size: 14px;">Copyright © 2024 Sheryians Pvt. Ltd.<br>All Rights Reserved.</p>
        </div>
    </footer>

</body>
</html>